/* section icons */
.icon_card {
  margin-bottom: 5rem;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
.send,
.quality,
.easy_buy,
.phone {
  display: flex;
  background-color: #f7f7f7;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 15rem;
  height: 15rem;
  border: 2px solid #bbb;
  border-radius: 8px;
  box-shadow: 0 0 5px #257157;
}
.send_icon,
.quality_icon,
.easy_icon,
.phone_icon {
  width: 5rem;
  height: 5rem;
  fill: #257157;
}
.send_text,
.quality_text,
.easy_text,
.phone_text {
  font-weight: 700;
  color: #bbb;
}
/* section blogs */
.blogs {
  margin-bottom: 5rem;
}
.blog_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog_card {
  width: 27rem;
  height: auto;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 6px #bbb;
}
.blog_card_img {
  height: 50%;
  width: 100%;
  margin-bottom: 1rem;
}
.blog_card_title {
  margin-bottom: 0.5rem;
}
.blog_card_caption {
  text-align: justify;
  margin-bottom: 1rem;
}
.blog_card_link {
  transition: all 0.3s ease;
  display: block;
  width: 20rem;
  margin: 0 auto;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #f7f7f7;
  background-color: #c5a26f;
  padding: 1rem 2rem;
  border: 2px solid #c5a26f;
  border-radius: 8px;
}
.blog_card_link:hover {
  background-color: #f7f7f7;
  color: #0a4e39;
  border: 2px solid #0a4e39;
}
/* footer part */
.footer {
  margin-bottom: 5rem;
}
.footer_contents {
  background-color: #257157;
  border-radius: 8px;
}
.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem;
  background-color: #0a4e39;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.footer_top_title_part {
  color: #f7f7f7;
}
.footer_top_phone_part {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #f7f7f7;
}
.footer_mid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-content: space-between;
  align-items: center;
  color: #f7f7f7;
  padding: 2rem 10rem 3rem 10rem;
}
.footer_mid_introduce {
  /* background-image: url(/images/footer-img.webp),#7a6a6a9e; */
  background: rgba(37, 37, 37, 0.196);
  box-shadow: 0 0 5px #0a4e39;
  border-radius: 8px;
  padding: 1.5rem;
  color: #f7f7f7;
}
.footer_mid_caption {
  text-align: justify;
}
.footer_mid_lists {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer_mid_list1,
.footer_mid_list2 {
  list-style-type: none;
}
.footer_mid_item1:first-child,
.footer_mid_item2:first-child {
  margin-bottom: 1rem;
  border-right: 3px solid #c5a26f;
  padding-right: 0.5rem;
}

.footer_contact {
  display: flex;
  justify-content: space-between;
}
.phone_part {
  text-align: left;
}
.phone_footer_icon {
  fill: #f7f7f7;
  width: 3rem;
  height: 3rem;
}

.footer_contact_mobile_icon,
.footer_contact_email_icon,
.footer_contact_address_icon {
  width: 2rem;
  height: 2rem;
}
.footer_down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a4e39;
  width: 80%;
  margin: 0 auto 2rem auto;
  padding: 1.5rem;
  border-radius: 8px;
  color: #f7f7f7;
}
.footer_down_part1 {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.instagram_icon {
  fill: #e2307a;
}
.telegarm_icon {
  fill: #459be6;
}
.whatsapp_icon {
  fill: #32e0a9;
}
.footer_down_icon {
  fill: #1081c7;
}
.instagram_icon,
.telegarm_icon,
.whatsapp_icon {
  text-decoration: none;
}
.instagram_icon svg,
.telegarm_icon svg,
.whatsapp_icon svg,
.footer_down_icon {
  width: 3rem;
  height: 3rem;
}
.footer_theleast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 10rem;
  border-top: 2px dashed #f7f7f7;
  color: #f7f7f7;
}
.gotop_btn {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}
