@import "tailwindcss";

@theme {
  --color-btn: #c5a26f;
  --color-instagram: #e2307a;
  --color-telegram: #459be6;
  --color-whatsapp: #32e0a9;
  --color-footerbg: rgba(37, 37, 37, 0.19);
  --font-Nazanin: "Far.Nazanin";
  --font-Nazanin-Bold: "Far.Nazanin Bold";
}

@custom-variant dark (&:where(.dark,.dark *));
