@import "tailwindcss";

@theme {
  --color-btn: #c5a26f;
  --color-instagram: #e2307a;
  --color-telegram: #459be6;
  --color-whatsapp: #32e0a9;
  --color-footerbg: rgba(37, 37, 37, 0.19);
  --font-Nazanin: "Far.Nazanin";
  --font-Nazanin-Bold: "Far.Nazanin Bold";
}
/* custom variables */
@custom-variant dark (&:where(.dark,.dark *));
@custom-variant child (& > *);
@custom-variant child-hover (& > *:hover);

@layer components {
  * {
    user-select: none;
  }
  .counter_products::after {
    content: "0";
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    right: -10px;
    background-color: #022f2e;
    color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 0 4px #999;
  }
}
