@import "tailwindcss";

@theme {
  --color-primary: #0a4e39;
  --color-secondary: #257157;
  --color-btn: #c5a26f;
  --color-intagram: #e2307a;
  --color-telegram: #459be6;
  --color-whatsapp: #32e0a9;
  --font-Nazanin: "Far.Nazanin";
  --font-Nazanin-Bold: "Far.Nazanin Bold";
}
