* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-size: 2rem;
}
.container {
  width: 140rem;
  margin: 0 auto;
}
.nav {
  margin-top: 3rem;
  border: 2px solid #222;
  border-radius: 8px;
  box-shadow: 0 0 5px #227fae;
  padding: 1rem;
  background-color: #0a1a2d;
}
.nav_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_search {
  width: 50%;
  height: 5rem;
  padding-right: 2rem;
  border-radius: 8px;
  font-size: 2rem;
  background-color: #007bff;
  border: none;
  outline: none;
}
.nav_search::placeholder {
  font-weight: bold;
  font-size: 2rem;
  color: aliceblue;
}
.buy_login {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.basket_icon,
.login_icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #007bff;
}
.nav_bottom {
  margin-top: 2.5rem;
}
.nav_list {
  display: flex;
  justify-content: center;
  gap: 10rem;
  list-style-type: none;
}
.nav_item_link{
  display: inline-block;
  transition: all 0.3s ease;
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: #007bff;
  border-radius: 8px;
  font-weight: bold;
}
.nav_item_link:hover{
  background-color: #1e3a5f;
}