* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-size: 2rem;
}
.container {
  width: 140rem;
  margin: 0 auto;
}
.nav {
  margin-top: 3rem;
  border: 2px solid #0a4e39;
  border-radius: 8px;
  box-shadow: 0 0 5px #0a4e39;
  padding: 1rem;
}
.nav_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_search {
  width: 50%;
  height: 5rem;
  padding-right: 2rem;
  border-radius: 8px;
  font-size: 2rem;
  border: solid #999;
  outline: none;
}
.nav_search::placeholder {
  font-weight: bold;
  font-size: 2rem;
  color: #252525;
}
.search_icon{
  width: 2.5rem;
  height: 2.5rem;
}
.buy_login {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.basket_icon,
.login_icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #257157;
}
.nav_top {
  height: 8rem;
}
.nav_bottom {
  border-radius: 8px;
  padding: 1rem;
  background-color: #0a4e39;
}
.nav_list {
  display: flex;
  justify-content: center;
  gap: 10rem;
  list-style-type: none;
}
.nav_item_link {
  display: inline-block;
  transition: all 0.3s ease;
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: #257157;
  color: #f7f7f7;
  border-radius: 8px;
  font-weight: bold;
}
.nav_item_link:hover {
  background-color: #f7f7f7;
  color: #257157;
}
.daste_bandi {
  display: flex;
  align-items: center;
}
.down_icon {
  transition: all 0.3s ease;
  width: 2.5rem;
  height: 2.5rem;
}
.daste_bandi_list {
  text-align: center;
  padding: 0 1rem;
  background-color: #0a4e39;
  list-style-type: none;
  border: 1px solid #252525;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: absolute;
  right: 52rem;
}
.daste_bandi_items {
  display: none;
  position: relative;
}
.daste_bandi_item {
  transition: all 0.3s ease;
  font-size: 2.5rem;
  padding: 1rem 4rem;
  background-color: #257157;
  border-radius: 8px;
  color: #f7f7f7;
  margin-top: 1rem;
}
.daste_bandi_item:hover{
  background-color: #f7f7f7;
  color: #257157;
}
.daste_bandi_item:last-child {
  margin-bottom: 1rem;
}
