*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
body{
    font-size: 2rem;
}
.container{
    width: 140rem;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    
}
.nav_search{
    width: 50%;
    height: 5rem;
    padding-right: 2rem;
}
.nav div{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.basket_icon,.login_icon{
    width: 2.5rem;
    height: 2.5rem;
}