* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  width: 140rem;
  margin: 0 auto;
}
.nav {
  margin-top: 3rem;
  border-radius: 8px;
  box-shadow: 0 0 5px #0a4e39;
  padding: 1rem;
  margin-bottom: 1rem;
}
.nav_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}
.my_logo {
  width: 10rem;
  height: 10rem;
}
.nav_search {
  width: 100%;
  padding-right: 2rem;
  font-size: 2rem;
  border: none;
  outline: none;
}
.nav_search::placeholder {
  font-weight: bold;
  font-size: 2rem;
  color: #0a4e39;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #0a4e39;
  box-shadow: 0 0 5px #0a4e39;
  width: 50%;
  height: 5rem;
}
.search_icon {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  fill: #0a4e39;
}
.buy_login {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.basket_icon,
.login_icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #257157;
}
.nav_bottom {
  border-radius: 8px;
  padding: 1rem;
  background-color: #0a4e39;
}
.nav_list {
  display: flex;
  justify-content: center;
  gap: 10rem;
  list-style-type: none;
}
.nav_item_link {
  display: inline-block;
  transition: all 0.3s ease;
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: #257157;
  color: #f7f7f7;
  border-radius: 8px;
  font-weight: bold;
}
.nav_item_link:hover {
  background-color: #f7f7f7;
  color: #257157;
}
.daste_bandi {
  display: flex;
  align-items: center;
}
.down_icon {
  transition: all 0.3s ease;
  width: 2rem;
  height: 2rem;
}
.daste_bandi_list {
  text-align: center;
  padding: 0 1rem;
  background-color: #0a4e39;
  list-style-type: none;
  border: 1px solid #252525;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: absolute;
  right: 52rem;
}
.daste_bandi_items {
  display: none;
  position: relative;
}
.daste_bandi_item {
  transition: all 0.3s ease;
  font-size: 2.5rem;
  padding: 1rem 4rem;
  background-color: #257157;
  border-radius: 8px;
  color: #f7f7f7;
  margin-top: 1rem;
}
.daste_bandi_item:hover {
  background-color: #f7f7f7;
  color: #257157;
}
.daste_bandi_item:last-child {
  margin-bottom: 1rem;
}
/* section hero */
.hero {
  margin-bottom: 5rem;
}
.hero_content {
  display: flex;
  align-items: center;
  background-color: #0a4e39;
  color: #f7f7f7;
  background-image: linear-gradient(90deg, #0a4e39, #257157);
  border-radius: 8px;
}
.myhero_img {
  width: 80rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.hero_caption {
  text-align: justify;
  padding: 5rem 7rem;
}
.hero_title {
  font-size: 7rem;
  margin-bottom: 1.5rem;
}
.hero_text {
  font-size: 2rem;
  margin-bottom: 3.5rem;
}
.hero_link {
  transition: all 0.3s ease;
  padding: 1rem 2rem;
  background-color: #c5a26f;
  border-radius: 8px;
  text-decoration: none;
  color: #0a4e39;
  font-weight: 700;
}
.hero_link:hover {
  background-color: #f7f7f7;
  color: #0a4e39;
}
/* section main banners */
.banners {
  margin-bottom: 5rem;
}
.banners_title,
.men_tshirt_title,
.women_tshirt_title,
.set_tshirt_title {
  margin-bottom: 1.5rem;
  padding-right: 1rem;
  font-size: 4rem;
  border-right: 8px solid #0a4e39;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.all_banners {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.men_banner,
.women_banner,
.set_banner {
  width: 46rem;
  background-image: linear-gradient(0deg, #0a4e39, rgba(37, 113, 86, 0.901));
  border-radius: 8px;
  box-shadow: 0 0 5px #257157;
}
.man_img,
.women_img,
.set_img {
  width: 40rem;
  height: 40rem;
}
.men_content,
.women_content,
.set_content {
  text-align: center;
  height: 15rem;
}
.men_title,
.women_title,
.set_title {
  font-size: 4rem;
  color: #f7f7f7;
}
.men_caption,
.women_caption,
.set_caption {
  margin-bottom: 2.5rem;
  color: #f7f7f7;
}
.men_link,
.women_link,
.set_link {
  transition: all 0.3s ease;
  padding: 1rem 2rem;
  background-color: #c5a26f;
  border-radius: 8px;
  text-decoration: none;
  color: #0a4e39;
  font-weight: 700;
}
.men_link:hover,
.women_link:hover,
.set_link:hover {
  color: #0a4e39;
  background-color: #f7f7f7;
}
/* section men cards */
.men_tshirt,
.women_tshirt,
.set_tshirt {
  margin-bottom: 5rem;
}
.men_card,
.women_card,
.set_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 27rem;
  border-radius: 8px;
  box-shadow: 0 0 5px #bbb;
  padding: 1.5rem;
}
.off_percent {
  background-color: red;
  border-radius: 8px;
  color: #fff;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}
.off_percent svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: #fff;
}
.off_percent span {
  font-weight: 700;
}
.men_card_img,
.women_card_img,
.set_card_img {
  width: 100%;
  background-color: #f7f7f7;
}
.men_card_title,
.women_card_title,
.set_card_title {
  text-align: center;
}
.men_tshirt_cards,
.women_tshirt_cards,
.set_tshirt_cards {
  padding: 0.5rem;
  overflow-x: scroll;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.men_card_price,
.women_card_price,
.set_card_price {
  text-align: center;
  margin-bottom: 1rem;
  color: #0a4e39;
  font-weight: 700;
}
.men_card_off,
.women_card_off,
.set_card_off {
  display: block;
  text-align: center;
  color: #bbb;
}
.men_card_buy,
.women_card_buy,
.set_card_buy {
  display: block;
  transition: all 0.3s ease;
  width: 20rem;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid #0a4e39;
  padding: 1rem 2rem;
  background-color: #0a4e39;
  color: #f7f7f7;
  font-weight: 700;
}
.men_card_buy:hover,
.women_card_buy:hover,
.set_card_buy:hover {
  background-color: #f7f7f7;
  color: #0a4e39;
  border: 2px solid #0a4e39;
}
/* section tablighat */
.tablighat {
  margin-bottom: 5rem;
}
.tablighat_card {
  width: 95%;
  margin: 0 auto;
  transition: all 0.3s ease;
  background-color: #0a4e39;
  color: #f7f7f7;
  border-radius: 8px;
  border: 2px solid #0a4e39;
  padding: 1rem 2rem;
  font-weight: 700;
}
.tablighat_card:hover {
  background-color: #257157;
  border-radius: 8px;
}
.tablighat_title {
  margin-bottom: 1rem;
}
.tablighat_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login_page {
  transition: all 0.3s ease;
  background-color: #c5a26f;
  text-decoration: none;
  color: #0a4e39;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: 700;
}
.login_page:hover {
  background-color: #f7f7f7;
}
/* section icons */
.icon_card {
  margin-bottom: 5rem;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
.send,
.quality,
.easy_buy,
.phone {
  display: flex;
  background-color: #f7f7f7;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 15rem;
  height: 15rem;
  border: 2px solid #bbb;
  border-radius: 8px;
  box-shadow: 0 0 5px #257157;
}
.send_icon,
.quality_icon,
.easy_icon,
.phone_icon {
  width: 5rem;
  height: 5rem;
  fill: #257157;
}
.send_text,
.quality_text,
.easy_text,
.phone_text {
  font-weight: 700;
  color: #bbb;
}
/* section blogs */
.blogs{
  margin-bottom: 5rem;
}
.blog_card {
  width: 27rem;
  height: auto;
  padding: 1rem;
  border: 1px solid #0a4e39;
}
.blog_card_img{
  height: 50%;
  width: 100%;
}
